html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
header {
    background: $background-color;
    border-bottom: 1px solid rgba(black ,0.3);
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
}
nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 50px;

    a {
        display: block;
        padding: 5px;
    }
}
main {
    flex: 1 0 auto;

    article.article-list {
        margin-bottom: 1.6em;

        a {
            color: $font-color;
            display: block;
            width: 100%;
        
            &:hover {
                text-decoration: none;
            }

            p:last-child {
                font-size: 0.9em;
            }
        }
    }
}

footer {
    flex-shrink: 0;
    margin-top: 5px;
    padding: 10px 0;

    div {
        float: right;

        &:first-child {
            float: left;
        }
    }
}