html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
header {
    background: white;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
}
nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 50px;

    a {
        display: block;
        padding: 5px;
    }
}
main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    margin-top: 10px;
}