$background-color: white;

$font-color: rgba(black, .85);
$font-color-inverse: rgba(white, .85);
$font-family-monospace: 'Source Code Pro', monospace;
$font-family-sans-serif: 'Merriweather Sans', sans-serif;
$font-family-serif: 'Merriweather', serif;
$font-weight-regular: 400;
$font-weight-bold: 700;

$responsive-breakpoint: 760px;
$responsive-gap: 32px;